body {
  background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: 'Roboto' !important;
    font-size: 16px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: scroll;
}

body, html {
  height: 100%;
  margin: 0;
}

.headerStyle{
    background-color: rgba(210, 242, 250, 0.356);
    padding: 2rem;
    border-bottom: solid 1px;
}

.headerStyle h2,
.headerStyle h5 {
    position: relative !important;
    
}

.headerStyle h2{
    text-align: center !important;
}


.TitleValuesStyle{
    position: relative !important;
    background-color: rgba(211, 211, 211, 0.274) !important;
    border: solid 1px;
    height:7rem;
}

.detailedStyle{
    height: 33rem;
}

.footerStyle{
    height: 2rem;
  
}

.footerStyle h5{
    text-align: center;
    color:black;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;  
    padding-top: 2px;
    overflow: hidden;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
    
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 3px 36px;
    text-decoration: none;
  }
  
  
  .active {
    background-color: #4CAF50;
  }

  .menusItem {
    padding: 0px !important;
  }

  .list-group-item span {
    position: relative;
    top:10px;
    right: 38px;
  }


  .detailsBlock{
    overflow: scroll;
    height: 25rem;
    overflow-x: hidden;
  }

  .sidenav {
   display: none;
    height: 100%;
    width: 0;
    position: fixed;
    background-color:#dae0e5;
    z-index: 1;
    top: 0;
    left: 0;   
    width: 50%;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav li a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .menuIcon{
    visibility: hidden;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }



  @media screen and (max-width: 450px) {

    body, html{
      overflow-x: hidden;
    }
    .mlist {
      border: hidden !important;
      width: 100%;
    }
    .headerStyle h5{
      font-size: 16px !important;
    }
    .headerStyle h2{
      font-size: 22px !important;
    }
    .row .mlist {
      margin-left: -5px !important;
      margin-right: -5px !important;
    }
    .menusItem {
      content: none;
      visibility: hidden;
    }
    .menuIcon{
      visibility: visible !important;
    }
    .footerStyle h5 {
     position: relative;
     top: 6rem;
    }
    .sidenav{
      visibility: visible;
    }

    .detailsBlock{
      overflow: scroll;
      height: 30rem;
      overflow-x: hidden;
    }
  }